# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# User Defined
updates.log
.local.gradle/
libs/
launcher.sh
mh
.tmp.shelter/